html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
  }
  
  footer, header, main, menu, nav, section, summary {
    display: block;
  }
  
  a {
    background-color: rgba(0, 0, 0, 0);
  }
  
  a:active, a:hover {
    outline: 0;
  }
  
  abbr[title] {
    border-bottom: 1px dotted;
  }
  
  h1 {
    margin: .67em 0;
    font-size: 2em;
  }
  
  mark {
    color: #000;
    background: #ff0;
  }
  
  small {
    font-size: 80%;
  }
  
  sub, sup {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative;
  }
  
  sup {
    top: -.5em;
  }
  
  sub {
    bottom: -.25em;
  }
  
  img {
    border: 0;
  }
  
  hr {
    box-sizing: content-box;
    height: 0;
  }
  
  input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
  }
  
  input {
    line-height: normal;
  }
  
  .w-icon-nav-menu:before {
    content: "...";
  }

  * {
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    color: #333;
    background-color: #fff;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
  }
  
  img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  h1 {
    margin-top: 20px;
    font-size: 38px;
    line-height: 44px;
  }
  
  h2 {
    margin-top: 20px;
    font-size: 32px;
    line-height: 36px;
  }
  
  h3 {
    margin-top: 20px;
    font-size: 24px;
    line-height: 30px;
  }
  
  h4 {
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px;
  }
  
  h5 {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
  }
  
  h6 {
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .w-form {
    margin: 0 0 15px;
  }
  
  .w-form-done {
    text-align: center;
    background-color: #ddd;
    padding: 20px;
    display: none;
  }
  
  .w-form-fail {
    background-color: #ffdede;
    margin-top: 10px;
    padding: 10px;
    display: none;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
  }

  .w-form-label {
    cursor: pointer;
    margin-bottom: 0;
    font-weight: normal;
    display: inline-block;
  }
  
  @media screen and (max-width: 767px) {
    .w-nav-brand {
      padding-left: 10px;
    }
  }
  
  @media (min-width: 768px) {
  .w-nav {
    z-index: 1000;
    background: #ddd;
    position: relative;
  }
  
  .w-nav:before, .w-nav:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
  }
  
  .w-nav:after {
    clear: both;
  }
  
  .w-nav-brand {
    float: left;
    color: #333;
    text-decoration: none;
    position: relative;
  }
  
  .w-nav-link {
    vertical-align: top;
    color: #222;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    position: relative;
  }

.w-nav-link::after {
    content: '';
    text-decoration: none;
    position: absolute;
    left: 10px;
    bottom: 12.5px;
    width: 80%;
    height: 3px;
    background: var(--color-1);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.w-nav-link:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

  .w-nav-menu {
    float: right;
    position: relative;
  }
  
  [data-nav-menu-open] {
    text-align: center;
    min-width: 200px;
    background: #c8c8c8;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: visible;
    display: block !important;
  }
  
  .w--nav-link-open {
    display: block;
    position: relative;
  }
  
  .w-nav-overlay {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  
  .w-nav-overlay [data-nav-menu-open] {
    top: 0;
  }
  
  .w-nav[data-animation="over-left"] .w-nav-overlay {
    width: auto;
  }
  
  .w-nav[data-animation="over-left"] .w-nav-overlay, .w-nav[data-animation="over-left"] [data-nav-menu-open] {
    z-index: 1;
    top: 0;
    right: auto;
  }
  
  .w-nav[data-animation="over-right"] .w-nav-overlay {
    width: auto;
  }
  
  .w-nav[data-animation="over-right"] .w-nav-overlay, .w-nav[data-animation="over-right"] [data-nav-menu-open] {
    z-index: 1;
    top: 0;
    left: auto;
  }
  
  .w-nav-button {
    float: right;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 18px;
    font-size: 24px;
    display: none;
    position: relative;
  }
  
  .w-nav-button:focus {
    outline: 0;
  }
  
  .w-nav-button.w--open {
    color: #fff;
    background-color: #c8c8c8;
  }
  
  .w-nav[data-collapse="all"] .w-nav-menu {
    display: none;
  }
  
  .w-nav[data-collapse="all"] .w-nav-button, .w--nav-dropdown-open, .w--nav-dropdown-toggle-open {
    display: block;
  }
  
  .w--nav-dropdown-list-open {
    position: static;
  }
  
  @media screen and (max-width: 991px) {
    .w-nav[data-collapse="medium"] .w-nav-menu {
      display: none;
    }
  
    .w-nav[data-collapse="medium"] .w-nav-button {
      display: block;
    }
  }
  
  @media screen and (max-width: 767px) {
    .w-nav[data-collapse="small"] .w-nav-menu {
      display: none;
    }
  
    .w-nav[data-collapse="small"] .w-nav-button {
      display: block;
    }
  
    .w-nav-brand {
      padding-left: 10px;
    }
  }
  
  @media screen and (max-width: 479px) {
    .w-nav[data-collapse="tiny"] .w-nav-menu {
      display: none;
    }
  
    .w-nav[data-collapse="tiny"] .w-nav-button {
      display: block;
    }
  }
  
  .w-tabs {
    position: relative;
  }
  
  .w-tabs:before, .w-tabs:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
  }
  
  .w-tabs:after {
    clear: both;
  }
  
  .w-tab-menu {
    position: relative;
  }
  
  .w-tab-link {
    vertical-align: top;
    text-align: left;
    cursor: pointer;
    color: #222;
    background-color: #ddd;
    padding: 9px 30px;
    text-decoration: none;
    display: inline-block;
    position: relative;
  }
  
  .w-tab-link.current {
    background-color: #c8c8c8;
  }
  
  .w-tab-link:focus {
    outline: 0;
  }
  
  .w-tab-content {
    display: block;
    position: relative;
    overflow: hidden;
  }
  
  .w-tab-pane {
    display: none;
    position: relative;
  }
  
  .w--tab-active {
    display: block;
  }
  
  @media screen and (max-width: 479px) {
    .w-tab-link {
      display: block;
    }
  }

  :root {
    --dark: #111;
    --haze: #f8f8f8;
    --color-1: #c92626;
    --grey-4: #e5e5e5;
    --grey-1: #999;
    --color-3: #ffc12c;
    --color-4: #fb416b;
    --grey-3: #bbb;
    --white: white;
    --grey-2: #a5a5a5;
    --color-2: #009bfa;
  }

  #cart {
    position: absolute;
    background-color: white;
    border: none;
    cursor: pointer;
    left: -45px;
    top: 17px;
    appearance: none;
    align-items: center;
    display: flex;
    transform: scale(1.5);
  }

  #signup-btn {
    position: absolute;
    background-color: white;
    border: none;
    cursor: pointer;
    left: -10px;
    top: 17px;
    appearance: none;
    align-items: center;
    display: flex;
    transform: scale(1.5);
  }

  #addproduct {
    position: absolute;
    background-color: white;
    border: none;
    cursor: pointer;
    right: 10px;
    top: 19px;
    appearance: none;
    align-items: center;
    display: flex;
    transform: scale(1.7);
  }

  main {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  form {
    max-width: 600px;
    margin: 20px auto;
  }
  label {
    display: block;
  }
  input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  .addproduct-wrapper {
    position: relative;
    background-color: white;
    border: none;
    width: 700px;
    height: 850px;
    appearance: none;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .w-commerce-commercecartwrapper {
    display: inline-block;
    position: relative;
  }
  
  .w-commerce-commercecartopenlink {
    color: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-color: #3898ec;
    border-width: 0;
    border-radius: 0;
    align-items: center;
    margin: 0px 35px 0px 0px;
    padding: 9px 15px;
    text-decoration: none;
    display: flex;
  }
  
  .w-commerce-commercecartopenlinkcount {
    height: 18px;
    min-width: 18px;
    color: #3898ec;
    text-align: center;
    background-color: #fff;
    border-radius: 9px;
    margin-left: 8px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 11px;
    font-weight: 700;
    line-height: 18px;
    display: inline-block;
  }
  
  .w-commerce-commercecartcontainerwrapper {
    z-index: 1001;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .shadow {
    z-index: -1001;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 300ms ease 0s;
  }

  .w-commerce-commercecartcontainerwrapper--cartType-modal {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .w-commerce-commercecartcontainerwrapper--cartType-leftSidebar {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
  }
  
  .w-commerce-commercecartcontainerwrapper--cartType-rightSidebar {
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    display: flex;
  }
  
  .w-commerce-commercecartcontainerwrapper--cartType-leftDropdown {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 100%;
    bottom: auto;
    left: 0;
    right: auto;
  }
  
  .w-commerce-commercecartcontainerwrapper--cartType-rightDropdown {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 100%;
    bottom: auto;
    left: auto;
    right: 0;
  }
  
  @media screen and (max-width: 479px) {
    .w-commerce-commercecartcontainerwrapper--cartType-modal {
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
    }
  
    .w-commerce-commercecartcontainerwrapper--cartType-leftDropdown, .w-commerce-commercecartcontainerwrapper--cartType-rightDropdown {
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      display: flex;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  
    .w-commerce-commercecartquantity, .w-commerce-commercecheckoutemailinput, .w-commerce-commercecheckoutshippingfullname, .w-commerce-commercecheckoutshippingstreetaddress, .w-commerce-commercecheckoutshippingstreetaddressoptional {
      font-size: 16px;
    }
  
    .w-commerce-commercecheckoutrow {
      flex-direction: column;
    }
  
    .w-commerce-commercecheckoutshippingcity, .w-commerce-commercecheckoutshippingstateprovince, .w-commerce-commercecheckoutshippingzippostalcode, .w-commerce-commercecheckoutshippingcountryselector, .w-commerce-commercecheckoutcardnumber, .w-commerce-commercecheckoutcardexpirationdate, .w-commerce-commercecheckoutcardsecuritycode, .w-commerce-commercecheckoutbillingfullname, .w-commerce-commercecheckoutbillingstreetaddress, .w-commerce-commercecheckoutbillingstreetaddressoptional, .w-commerce-commercecheckoutbillingcity, .w-commerce-commercecheckoutbillingstateprovince, .w-commerce-commercecheckoutbillingzippostalcode, .w-commerce-commercecheckoutbillingcountryselector, .w-commerce-commercecheckoutdiscountsinput, .w-commerce-commerceaddtocartquantityinput {
      font-size: 16px;
    }
  }
  
  body {
    color: var(--dark);
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    line-height: 24px;
  }
  
  h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: Varela Round, sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
  }
  
  h2 {
    margin-top: 0;
    margin-bottom: 16px;
    font-family: Varela Round, sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
  }
  
  h3 {
    margin-top: 0;
    margin-bottom: 16px;
    font-family: Varela Round, sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
  }
  
  h4 {
    margin-top: 0;
    margin-bottom: 16px;
    font-family: Varela Round, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }
  
  h5 {
    margin-top: 0;
    margin-bottom: 8px;
    font-family: Varela Round, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
  }
  
  h6 {
    margin-top: 0;
    margin-bottom: 8px;
    font-family: Varela Round, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }
  
  p {
    margin-bottom: 28px;
    font-size: 14px;
    line-height: 24px;
  }
  
  .body {
    color: var(--dark);
    font-family: Open Sans, sans-serif;
  }
  
  .section {
    background-color: var(--haze);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 24px;
    display: flex;
  }
  
  .section.color {
    background-color: var(--color-1);
  }
  
  .section.hero-section {
    height: 80vh;
    background-image: url("https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c778e_li-tzuni-507346-unsplash.jpg");
    background-position: 50% 94%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .wrapper {
    width: 100%;
    max-width: 1200px;
    background-color: rgba(0, 0, 0, 0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .wrapper.nav-bar-wrapper {
    height: 72px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
  }
  
  .wrapper.nav-top-wrapper {
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .wrapper.side-paddings {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .button {
    height: 48px;
    background-color: var(--color-1);
    color: #fff;
    text-align: center;
    border-radius: 24px;
    justify-content: center;
    text-decoration: none;
    padding: 12px 28px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    transition: transform .3s, box-shadow .3s;
  }
  
  .button:hover {
    transform: scale(1.2);
    box-shadow: 0 8px 8px -4px rgba(165, 201, 38, .5);
  }
  
  .nav-bar {
    z-index: 100;
    background-color: #fff;
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .12);
  }
  
  .nav-link {
    color: var(--dark);
    border-radius: 16px;
    padding: 12px 18px;
    transition: color .3s, background-color .3s, box-shadow .3s;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .nav-link.current {
    color: var(--dark);
  }
  
  .text-white {
    color: #fff;
  }
  
  .haze {
    background-color: var(--haze);
  }
  
  .text-grey {
    color: var(--grey-1);
  }
  
  .no-margin {
    margin: 0;
  }
  
  .no-margin-bottom {
    margin-bottom: 0;
  }
  
  .text-green {
    color: var(--color-1);
  }
  
  .title {
    color: var(--color-1);
    margin-bottom: 16px;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
  }
  
  .no-padding-vertical {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .brand {
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Varela Round, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    display: flex;
  }
  
  .nav-menu {
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
  }
  
  .no-padding-top {
    padding-top: 0;
  }
  
  .no-padding-bottom {
    padding-bottom: 0;
  }
  
  .full-width {
    width: 100%;
  }
  
  .page-wrapper {
    padding-top: 104px;
    overflow: hidden;
  }
  
  .navigation {
    flex: 1;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  
  .hero-intro {
    width: 100%;
    max-width: 570px;
    color: var(--dark);
    text-align: center;
    background-color: #fff;
    border-radius: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 56px 48px;
    display: flex;
  }
  
  .nav-top {
    height: 32px;
    color: #fff;
    background-color: var(--color-1);
    flex-direction: column;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 11px;
    line-height: 16px;
    display: flex;
  }
  
  .nav-main {
    height: 72px;
    flex-direction: column;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
  }
  
  .nav-top-info {
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
  }
  
  .nav-top-text {
    margin-right: 16px;
  }
  
  .link-white {
    color: #fff;
    text-decoration: underline;
  }
  
  .shop-header {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
  }
  
  .shop-header-line {
    width: 100%;
    height: 2px;
    background-color: var(--grey-4);
    margin-top: 32px;
  }
  
  .products {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
  }
  
  .product-card-wrapper {
    width: 25%;
    flex-direction: column;
    padding: 15px;
    display: flex;
  }
  
  .product-card {
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 16px;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 24px 24px 32px;
    text-decoration: none;
    transition: transform .3s, box-shadow .3s;
    display: flex;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  }
  
  .product-card:hover {
    transform: scale(1.05)translate(0, -2px);
    box-shadow: 0 8px 20px -4px rgba(0, 0, 0, .15);
  }
  
  .product-card-image-wrapper {
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    padding: 20px;
    display: flex;
  }
  
  .product-card-heading {
    color: var(--dark);
    margin-bottom: 12px;
  }
  
  .product-card-price {
    height: 24px;
    background-color: var(--color-1);
    color: #fff;
    border-radius: 16px;
    padding: 2px 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }
  
  .shop-header-color {
    width: 136px;
    height: 100%;
    background-color: var(--color-1);
  }
  
  .shop-header-color.green {
    background-color: var(--color-1);
  }
  
  .link {
    color: var(--dark);
    border-bottom: 2px solid #ddd;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;
    transition: border-color .3s;
    display: inline-block;
  }
  
  .link:hover {
    border-bottom-color: var(--color-1);
  }
  
  .link.arrow-link {
    background-image: url("https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c77ac_arrow-right-mini-icon.svg");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 11px;
    margin-top: 4px;
    padding-right: 20px;
  }
  
  .subscribe {
    width: 100%;
    background-color: #fff;
    border-radius: 16px;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    display: flex;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  }
  
  .subscribe-form-wrapper {
    width: 50%;
    margin-bottom: 0;
    padding-left: 15px;
  }
  
  .subscribe-info {
    flex: 1;
    align-items: center;
    padding-right: 15px;
    display: flex;
  }
  
  .subscribe-form {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .input {
    height: 48px;
    border: 2px solid var(--grey-4);
    background-color: var(--haze);
    border-radius: 24px;
    margin-bottom: 24px;
    padding-left: 28px;
    padding-right: 28px;
    transition: border-color .3s, background-color .3s;
  }
  
  .input:hover {
    background-color: #fff;
  }
  
  .input:focus, .input.-wfp-focus {
    border-color: var(--color-1);
    background-color: #fff;
  }
  
  .input.subscribe-input {
    margin-bottom: 0;
    margin-right: 16px;
  }
  
  .input.subscribe-input:focus {
    border-color: var(--color-1);
    background-color: #fff;
  }
  
  .input.quantity-input {
    width: 80px;
    margin-bottom: 12px;
    margin-right: 8px;
  }
  
  .input.text-area {
    height: auto;
    min-height: 160px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  
  .input.center {
    text-align: center;
  }
  
  .input.no-margin-bottom {
    margin-bottom: 0;
  }
  
  .input.small {
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .subscribe-icon {
    width: 64px;
    height: 64px;
    background-color: var(--color-1);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    padding: 18px 16px 16px;
    display: flex;
  }
  
  .form-success {
    background-color: rgba(0, 0, 0, 0);
  }
  
  .form-error {
    color: var(--color-4);
    background-color: rgba(251, 65, 107, .1);
    border-radius: 16px;
    margin-top: 12px;
    padding: 6px 20px;
    font-size: 12px;
    line-height: 20px;
  }
  
  .form-error.product-error {
    margin-top: 0;
    display: inline-block;
  }
  
  .nav-top-social {
    justify-content: flex-end;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
  }
  
  .social-link {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: background-color .3s;
    display: flex;
  }
  
  .social-link:hover {
    background-color: rgba(0, 0, 0, .08);
  }
  
  .cart-icon {
    width: 32px;
    margin-left: 10px;
  }
  
  .heading {
    font-size: 36px;
    line-height: 44px;
  }
  
  .footer-social-link {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 6px;
    transition: background-color .3s;
    display: flex;
  }
  
  .footer-social-link:hover {
    background-color: rgba(0, 0, 0, .08);
  }
  
  .breadcrumbs {
    width: 100%;
    height: 48px;
    border: 2px solid var(--grey-4);
    color: var(--grey-1);
    border-radius: 24px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 48px;
    margin-bottom: -8px;
    padding: 8px 28px;
    font-size: 12px;
    line-height: 16px;
    display: flex;
  }
  
  .link-grey {
    outline-offset: 0px;
    color: var(--grey-1);
    -webkit-text-fill-color: inherit;
    background-clip: border-box;
    outline: 3px #999;
    text-decoration: none;
  }
  
  .link-grey:hover {
    text-decoration: underline;
  }
  
  .breadcrumbs-arrow {
    width: 9px;
    opacity: .2;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .product-view {
    position: fixed;
    width: 750px;
    height: 500px;
    margin: 50px;
    padding: 40px;
    top: 70px;
    left: 20%;
    transform: scale(0);
    background: var(--haze);
    border: 3px solid var(--color-1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .product-image-wrapper {
    justify-content: center;
    align-items: center;
    padding: 32px;
  }
  
  .product-info {
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 10%;
    display: flex;
  }
  
  .add-to-cart {
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 16px;
    display: flex;
  }
  
  .product-price {
    color: var(--color-1);
    margin-bottom: 32px;
    display: flex;
    font-family: Varela Round, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }

  .product-price p{
    color: var(--dark);
    margin-bottom: 32px;
    display: flex;
    font-family: Varela Round, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }
  
  .product-details-wrapper {
    width: 100%;
    flex-flow: wrap;
    align-items: flex-start;
    padding-top: 80px;
    display: flex;
  }
  
  .product-details {
    flex: 1;
    margin-top: 24px;
    margin-left: 15px;
  }
  
  .scroll-mouse-link {
    z-index: 2;
    width: 64px;
    height: 64px;
    background-color: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: -32px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  }
  
  .mouse-icon {
    width: 20px;
    height: 30px;
    border: 2px solid var(--grey-3);
    border-radius: 12px;
    justify-content: center;
    align-items: flex-start;
    display: flex;
  }
  
  .mouse-wheel-icon {
    width: 4px;
    height: 4px;
    background-color: var(--grey-3);
    border-radius: 50%;
    margin-top: 6px;
  }
  
  .cart-button {
    color: var(--dark);
    background-color: rgba(0, 0, 0, 0);
  }
  
  .item-count {
    height: 20px;
    min-width: 20px;
    background-color: var(--color-1);
    color: #fff;
    border-radius: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 12px;
    font-weight: 600;
  }
  
  .contacts {
    width: 100%;
    background-color: #fff;
    border-radius: 16px;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 56px;
    padding: 80px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  }
  
  .map {
    width: 100%;
    height: 440px;
    border-radius: 12px;
    margin-bottom: 64px;
  }
  
  .contact-form-wrapper {
    width: 66.66%;
    padding-right: 16.66%;
  }
  
  .label {
    width: 100%;
    color: var(--dark);
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 600;
  }
  
  .contact-info {
    flex: 1;
    font-size: 12px;
  }
  
  .contact-social {
    flex-flow: wrap;
    align-items: center;
    margin-top: 48px;
    display: flex;
  }
  
  .contact-social-link {
    width: 32px;
    height: 32px;
    background-color: var(--dark);
    color: var(--dark);
    border-radius: 50%;
    align-items: center;
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 8px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;
    transition: transform .3s;
    display: flex;
  }
  
  .contact-social-link:hover {
    text-decoration: underline;
    transform: scale(1.12);
  }
  
  .contact-social-link.twitter {
    background-color: #2aa3f0;
  }
  
  .contact-social-link.facebook {
    background-color: #3b5998;
  }
  
  .contact-social-link.insta {
    background-color: var(--color-4);
  }
  
  .contact-social-link.youtube {
    background-color: #fc0d1c;
  }
  
  .contact-social-link.pinterest {
    background-color: #bd081c;
  }
  
  .contact-heading {
    margin-bottom: 28px;
  }
  
  .contact-social-heading {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .shop-categories-wrapper {
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }
  
  .shop-category-link {
    height: 32px;
    color: var(--dark);
    border-radius: 16px;
    padding: 6px 18px;
    font-size: 13px;
    line-height: 20px;
    text-decoration: none;
    display: inline-block;
  }

  .shop-category-link::after{
    content: '';
    text-decoration: none;
    position: absolute;
    left: 8%;
    bottom: 12.5px;
    width: 85%;
    height: 3px;
    background: var(--color-1);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
  }

  .shop-category-link:hover::after {
    transform-origin: left;
    transform: scaleX(1);
  }
  
  .shop-category-link.current {
    background-color: var(--color-1);
    color: #fff;
  }
  
  .shop-category-link.current:hover {
    text-decoration: none;
  }
  
  .shop-categories {
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }
  
  .about-image {
    width: 100%;
    border-radius: 16px;
    margin-top: 64px;
  }
  
  .divider {
    width: 70px;
    height: 2px;
    background-color: var(--color-1);
    margin-top: 8px;
    margin-bottom: 23px;
  }
  
  .side-block {
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 8.33%;
    padding-right: 8.33%;
    display: flex;
    position: relative;
  }
  
  .side-block.no-padding-left {
    padding-left: 0%;
  }
  
  .side-block.small-padding-side {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .side-block.no-padding-right {
    padding-right: 0%;
  }
  
  .side-blocks {
    width: 100%;
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
  }
  
  .side-info {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
  }
  
  .side-image {
    width: 100%;
    border-radius: 16px;
  }
  
  .delivery {
    width: 90%;
    background-color: #fff;
    border-radius: 16px;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 56px;
    padding: 80px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  }
  
  .delivery-info {
    width: 66.66%;
    flex: 1;
    padding-right: 8.33%;
  }
  
  .question {
    width: 270px;
    border: 2px solid var(--grey-4);
    text-align: center;
    border-radius: 16px;
    flex-direction: column;
    flex: 0 auto;
    align-items: center;
    padding: 40px;
    font-size: 12px;
    display: flex;
  }
  
  .question-heading {
    margin-bottom: 16px;
  }

  @media screen and (max-width: 991px) {
    h1 {
      font-size: 32px;
      line-height: 40px;
    }
  
    h2 {
      font-size: 28px;
      line-height: 36px;
    }
  
    h3 {
      font-size: 24px;
      line-height: 32px;
    }
  
    .section {
      padding: 88px 8px;
    }
  
    .section.hero-section {
      height: auto;
      padding: 184px 16px;
    }
  
    .section.video-section {
      padding-bottom: 80px;
      padding-left: 8.33%;
      padding-right: 8.33%;
    }
  
    .wrapper.nav-bar-wrapper {
      height: auto;
    }
  
    .wrapper.side-paddings {
      padding-left: 8px;
      padding-right: 8px;
    }
  
    .button:hover {
      transform: none;
    }
  
    .button-style-wrapper {
      width: 50%;
      padding: 48px 8%;
    }
  
    .nav-bar {
      position: absolute;
    }
  
    .nav-link {
      border-bottom: 1px solid var(--grey-4);
      border-radius: 0;
      padding: 16px 24px;
    }
  
    .no-margin {
      margin: 0;
    }
  
    .no-margin-bottom {
      margin-bottom: 0;
    }
  
    .intro {
      margin-bottom: 56px;
    }
  
    .no-padding-vertical {
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .footer {
      padding-top: 40px;
    }
  
    .footer-nav {
      justify-content: flex-end;
      padding-left: 2px;
      padding-right: 2px;
    }
  
    .footer-bottom {
      margin-top: 40px;
    }
  
    .brand {
      padding-left: 8px;
      padding-right: 8px;
      font-size: 20px;
      line-height: 28px;
    }
  
    .nav-menu {
      border-top: 1px solid var(--grey-4);
      background-color: #fff;
      padding-left: 0;
      padding-right: 0;
    }
  
    .no-padding-top {
      padding-top: 0;
    }
  
    .no-padding-bottom {
      padding-bottom: 0;
    }
  
    .page-wrapper {
      padding-top: 96px;
    }
  
    .navigation {
      flex-direction: row-reverse;
      justify-content: flex-start;
    }
  
    .hero-intro {
      max-width: 480px;
      padding: 40px;
    }
  
    .nav-top {
      padding-left: 8px;
      padding-right: 8px;
    }
  
    .nav-main {
      height: 64px;
      padding-left: 8px;
      padding-right: 0;
    }
  
    .nav-top-info {
      padding-left: 8px;
      padding-right: 8px;
    }
  
    .shop-header {
      padding-left: 8px;
      padding-right: 8px;
    }

    .input.no-margin-bottom {
      margin-bottom: 0;
    }
  
    .nav-top-social {
      padding-left: 8px;
      padding-right: 8px;
    }
  
    .product {
      padding: 56px;
    }
  
    .menu-button {
      height: 100%;
      border-left: 1px solid var(--grey-4);
      padding: 20px;
    }
  
    .menu-button.w--open {
      color: var(--dark);
      background-color: rgba(0, 0, 0, 0);
    }

    .delivery {
      flex-direction: column;
      padding: 64px;
    }
  
    .delivery-info {
      width: 100%;
      flex: 0 auto;
      padding-right: 0%;
    }
  }
  
  @media screen and (max-width: 767px) {
    h3 {
      font-size: 22px;
      line-height: 28px;
    }
  
    h4 {
      font-size: 20px;
      line-height: 28px;
    }
  
    .section {
      padding-top: 64px;
      padding-bottom: 64px;
    }
  
    .section.hero-section {
      padding-top: 104px;
      padding-bottom: 104px;
    }
  
    .section.video-section {
      padding-bottom: 72px;
    }
  
    .button-style-wrapper {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  
    .nav-link {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  
    .no-margin {
      margin: 0;
    }
  
    .no-margin-bottom {
      margin-bottom: 0;
    }
  
    .no-padding-vertical {
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .footer {
      padding-top: 32px;
    }
  
    .footer-nav {
      padding-left: 24px;
      padding-right: 0;
    }
  
    .footer-link {
      margin-left: 5px;
      margin-right: 5px;
      font-size: 12px;
      line-height: 20px;
    }
  
    .footer-bottom {
      margin-top: 32px;
      margin-left: 8px;
      margin-right: 8px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  
    .no-padding-top {
      padding-top: 0;
    }
  
    .no-padding-bottom {
      padding-bottom: 0;
    }
  
    .footer-brand {
      padding-left: 8px;
      padding-right: 8px;
    }
  
    .footer-social {
      margin-top: 16px;
      padding-left: 4px;
      padding-right: 4px;
    }
  
    .products {
      padding-left: 0;
      padding-right: 0;
    }
  
    .product-card-wrapper {
      padding: 8px;
    }
  
    .product-card-image-wrapper {
      height: 224px;
      padding: 24px;
    }
  
    .input.no-margin-bottom {
      margin-bottom: 0;
    }
  
    .nav-top-social {
      padding-left: 0;
      padding-right: 0;
    }
  
    .product {
      padding: 32px 32px 48px;
    }
  
    .product-image-wrapper {
      width: 100%;
    }
  
    .shop-categories-wrapper {
      width: 100%;
      justify-content: center;
    }
  }
  
  @media screen and (max-width: 479px) {
    .button-style-wrapper {
      width: 100%;
      padding-top: 24px;
      padding-bottom: 24px;
    }
  
    .utility-page-content {
      width: 100%;
      padding: 32px;
    }
  
    .no-margin {
      margin: 0;
    }
  
    .no-margin-bottom {
      margin-bottom: 0;
    }
  
    .no-padding-vertical {
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .footer-nav {
      flex-wrap: wrap;
      justify-content: flex-start;
      padding-left: 0;
    }
  
    .footer-bottom {
      flex-wrap: wrap;
      justify-content: flex-start;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  
    .no-padding-top {
      padding-top: 0;
    }
  
    .no-padding-bottom {
      padding-bottom: 0;
    }
  
    .footer-left {
      width: 100%;
      margin-bottom: 16px;
    }
  
    .footer-social {
      justify-content: flex-start;
    }
  
    .footer-bottom-left {
      width: 100%;
      padding-top: 6px;
      padding-bottom: 6px;
    }
  
    .footer-bottom-right {
      width: 100%;
      justify-content: flex-start;
    }
  
    .instagram-link {
      margin: 4px;
    }

  
    .product-card-wrapper {
      width: 100%;
    }
  
    .product-card-image-wrapper {
      height: 76vw;
    }
  
    .input.no-margin-bottom {
      margin-bottom: 0;
    }
  
    .product {
      padding: 16px 16px 40px;
    }
  
    .product-image-wrapper {
      padding: 8px;
    }
  
    .shop-categories-wrapper {
      flex-direction: column;
      align-items: center;
    }
  
    .shop-category-link {
      margin-bottom: 8px;
    }
  
    .shop-categories {
      flex-direction: column;
      justify-content: center;
    }
  }
  
  .login-wrapper,
  .signup-wrapper {
      position: fixed;
      width: 400px;
      height: 440px;
      top: -1000px;
      left: 1000px;
      background: var(--haze);
      border: 3px solid var(--color-1);
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      visibility: hidden;
      z-index: 100;
      -webkit-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
      transform: translateY(-10%);
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
  }
  
  .formBox {
      width: 100%;
      padding: 40px;
  }
  
  .formBox h2 {
      font-size: 2em;
      margin-top: 25px;
      color: black;
      text-align: center;
  }
  
  
  .inputreg {
      position:relative;
      width: 100%;
      height: 50px;
      border-bottom: 2px solid black;
      margin: 30px 0;
  }
  
  .inputreg label {
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      font-size: 15px;
      color: black;
      font-weight: 500;
      pointer-events: none;
      transition: .5s;
  }
  
  .inputreg input:focus~label,
  .inputreg input:valid~label {
      top: -5px;
  
  }
  
  .inputreg input {
      width: 100%;
      height: 100%;
      background: var(--haze);
      border: none;
      outline: none;
      font-size: 1em;
      color: #000;
      font-weight: 600;
      padding: 0 35px 0 5px;
  }
  
  .inputreg .icon {
      position: absolute;
      right: 8px;
      font-size: 1.2em;
      color: #000;
      line-height: 10px;
  }
  
  .remember {
      font-size: .9em;
      color: #000;
      font-weight: 500;
      margin: -15px 0 15px 0;
      display: flex;
      justify-content: space-between;
  }
  
  .remember label input{
      width: auto;
      accent-color: var(--color-4);
      margin-right: 3px;
  }
  
  .cart-wrapper {
    position: fixed;
    width: 750px;
    height: 500px;
    margin: 50px;
    padding: 40px;
    top: 70px;
    left: 20%;
    transform: scale(0);
    background: var(--haze);
    border: 3px solid var(--color-1);
    border-radius: 20px;
    display: flex;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  .product-list ul{
    font-size: 20;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .cart-wrapper h2{
    position: relative;
    top: -20px;
    width: 180px;
    height: 35px;
  }

  .cart-wrapper h4{
    position: absolute;
    top: 450px;
    width: 120px;
    height: 25px;
  }

  .buttonreg {
      width: 100%;
      height: 45px;
      background: var(--color-1);
      border: none;
      outline: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 1em;
      color:aliceblue;
      font-weight: 500;
  }
  
  .register {
      font-size: .9em;
      color: var(--color-1);
      text-align: center;
      font-weight: 500;
      margin: 25px 0 10px;
  }
  
  
  
  .ls-close-btn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 2.4rem;
      height: 2.4rem;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      cursor: pointer;
  }
  
  .ls-close-btn span {
      color: var(--color-light-1);
      font-size: 1.3rem;
  }
  
  .active-ls {
      opacity: 1;
      visibility: visible;
      top: 150px;
      left: 500px;
      pointer-events: auto;
      z-index: 99;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
  }
  
  .active-lss {
    opacity: 1;
    visibility: visible;
    top: 70px;
    left: 20%;
    pointer-events: auto;
    z-index: 100;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale;
}

.cart-link {
  color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: var(--white);
  border-width: 0;
  border-radius: 0;
  align-items: center;
  margin: 0px 35px 0px 0px;
  padding: 9px 15px;
  text-decoration: none;
  display: flex;
}

}