body, img, area, a, button, p, input, center, section {
    z-index: 10;
    cursor: none;
  }

  .cursor--small,
  .cursor--large,
  .cursor--text {
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: var(--cursor-size);
    height: var(--cursor-size);
    mix-blend-mode: difference;
    pointer-events: none;
    user-select: none;
    z-index: 100;
  }
  .cursor--text {
    --cursor-size: fit-content;
    font-size: 0.75rem;
    color: #fff;
    opacity: 0;
  }
  .cursor--text .text {
    font-family: sans-serif;
    font-weight: bold;
  }
  .cursor--small {
    --cursor-size: 15px;
    background: #fff;
  }
  .cursor--large {
    --cursor-size: 50px;
    border: 2px solid #fff;
  }