img {
  width: 50px;
  height: 50px;
}

.hat {
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(33, 110, 146), cadetblue)
}

.hat.active {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-animation: anime 0.4s ease;
  animation: anime 0.4s ease;
}

.hat hr{
  position: absolute;
  top: 65px;
}

.hatbtn {
  position: relative;
  --border: 5px;    
  --slant: 1.07em;  
  --color: #00e1ff; 
  font-size: 16.5px;
  padding: 0.4em 0.8em 0.4em 1.2em;
  border: none;
  cursor: pointer;
  background: 
     linear-gradient(to bottom right,var(--color)  50%,#0000 50.1%) top left,
     linear-gradient(to top   right,var(--color)  50%,#0000 50.1%) bottom left;
  background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
  background-repeat: no-repeat;
  box-shadow:
    0 0 0 5px inset var(--color);
  clip-path: 
      polygon(var(--slant) 0, 100% 0, 75% 50%, 100% 100%,
              var(--slant) 100%, 0 calc(100% - var(--slant))
             );
  transition: color 0.3s, background-size 0.3s;
}

.hatbtn:hover {
  background-size: 125% 75%;
}

@keyframes anime {
  0% {
      -webkit-transform: translateY(-10rem);
      transform: translateY(-10rem);
  }

  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}