:root {
  --color-hatbtn: #181e3a; 
  --color-red-1: red;
  --color-red-2: orangered;

  --color-light-1: #fff;
  --color-light-2: #eff;
  --color-light-3: #eee;
  --color-light-4: #ddd;
  --color-light-5: #ccc;

  --color-light-green: #cefccc;
  --color-light-gray: silver;

  --color-gray-1: #999;
  --color-gray-2: gray;

  --color-dark-1: #111;
  --color-dark-2: #222;
  --color-dark-3: #333;
  --color-dark-4: #444;
  --color-dark-5: #555;

  --purple-dark-1: #211e25;
  --purple-dark-2: #343236;

  --color-gradient-1: linear-gradient(to left, rgba(8,56,28,1) 13%, rgba(56,167,129,1) 52%, rgba(0,180,99,1) 83%);

  --color-dark-blue: #2e2e3f;
  --border: 5px;    
  --slant: 17px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: rgb(10,71,53);
  background: linear-gradient(3deg, rgba(10,71,53,1) 13%, rgba(44,97,140,1) 55%, rgba(0,180,163,1) 91%);
}

img {
  width: 50px;
  height: 50px;
}

div.logo {
  position: relative;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #222;
  border: 1px solid #fff;
  box-shadow:0 0 20px #555;
  clip-path: polygon(100% 0%, 60% 20%, 40% 20%, 0% 0%, 20% 40%, 20% 60%, 0% 100%, 40% 80%, 60% 80%, 100% 100%, 80% 60%, 80% 40%);
}

.logo-wrapper {
  width: 49px;
  height: 49px;
  clip-path: polygon(100% 0%, 60% 20%, 40% 20%, 0% 0%, 20% 40%, 20% 60%, 0% 100%, 40% 80%, 60% 80%, 100% 100%, 80% 60%, 80% 40%);
}

.shadow {
  filter: drop-shadow(10px 10px 100px var(--color-light-1)) drop-shadow(-10px -10px 100px var(--color-light-1));
  animation: glowAnimation 3.5s infinite;
}

.hat {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(145deg, rgba(2,0,36,1) 0%, rgba(9,121,82,1) 50%, rgba(74,221,182,1) 100%);
}

.hat.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 4rem;
  height: 100%;
  z-index: 10;
  -webkit-animation: anime 0.4s ease;
  animation: anime 0.4s ease;
}

.hatbtn {
  position: relative;
  font-size: 16.5px;
  margin: 0.1em -1.2em 0.1em 0.1em;
  padding: 0.5em 1em 0.3em 1em;
  border: none;
  color: white;
  background: 
     linear-gradient(to bottom right,var(--color-hatbtn)  60%,#00000000 50.1%) top left,
     linear-gradient(to top   right,var(--color-hatbtn)  60%,#00000000 50.1%) bottom left;
  background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
  background-repeat: no-repeat;
  box-shadow:
    0 0 0 5px inset var(--color-hatbtn);
  clip-path: 
      polygon(var(--slant) 0, 100% 0, 60% 50%, 100% 100%,
              var(--slant) 100%, 0 calc(100% - var(--slant))
             );
  transition: color 0.3s, background-size 0.3s;
}

.hatbtn:hover {
  background-size: 100% 100%;
}

@keyframes anime {
  0% {
      -webkit-transform: translateX(-10rem);
      transform: translateX(-10rem);
  }

  100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
}

@keyframes glowAnimation {
  0% {
    filter: drop-shadow(0 0 10px var(--color-light-1));
  }
  25% {
    filter: drop-shadow(0 0 30px var(--color-light-1));
  }
  50% {
    filter: drop-shadow(0 0 50px var(--color-light-1));
  }
  75% {
    filter: drop-shadow(0 0 30px var(--color-light-1));
  }
  100% {
    filter: drop-shadow(0 0 10px var(--color-light-1));
  }
}
/* Поиск */

.icon {
  font-size: 16.5px;
  padding: 1em 0.5em 1em 0.5em;
}

.search-container {
  position: absolute;
  padding: 5px 30px;
  right:0;
  top:0;
}

#search-input {
  position: relative;
  width: 0;
  opacity: 0;
  top: 0;
  padding: 8px;
  box-sizing: border-box;
  transition: width 1s ease-out, opacity 0.5s ease-out;
}

.search-container.active {
    position: relative;
    right: inherit;
  }
