{% load static %} 
{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en" >
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" type="text/css" href="{% static 'styles/mainSite.css' %}"/>
    <title>Home</title>
</head>
<main class="home">
    <div id="section-content">
    <header>
         
    </header>

    <footer>
        <p>&copy; 2023 My Website</p>
    </footer>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
</main>
</div>
</html>