{% load static %} 
{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en" >
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" type="text/css" href="{% static 'styles/mainSite.css' %}"/>
    <title>Home</title>
</head>
<main class="home">
    <div id="category">
    <div id="carousel1">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
    </div>
    <div id="carousel2">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
    </div>
    </div>
    <footer>
        <p>&copy; 2023 My Website</p>
    </footer>
</main>
</html>