{% extends 'Navbar.html' %}
{% block content %}
<html data-wf-domain="proto-83d0b0.webflow.io" data-wf-page="65815d000000cb93c2bb1071"
    data-wf-site="65814db1206eb252fe3c771d" lang="en"
    class="w-mod-js wf-opensans-n3-active wf-opensans-i3-active wf-opensans-n4-active wf-opensans-i4-active wf-opensans-n6-active wf-opensans-i6-active wf-opensans-n7-active wf-opensans-i7-active wf-opensans-n8-active wf-opensans-i8-active wf-varelaround-n4-active wf-active w-mod-ix">

<body>
    <div class="page-wrapper">
        <div class="section no-padding-vertical">
            <div class="wrapper side-paddings">
                <div class="breadcrumbs"><a href="/" class="link-grey">Home</a><img
                        src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c77ac_arrow-right-mini-icon.svg"
                        alt="" class="breadcrumbs-arrow"><a href="/catalog" class="link-grey">Catalog</a><img
                        src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c77ac_arrow-right-mini-icon.svg"
                        alt="" class="breadcrumbs-arrow">
                    <div>Stationery</div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="wrapper">
                <div class="shop-header">
                    <h3 class="no-margin w-hidden-small w-hidden-tiny">Stationery</h3>
                    <a href="/catalog" class="shop-category-link">All Products</a>
                    <div class="shop-categories-wrapper">
                        <div class="list">
                            <div role="list" class="shop-categories w-dyn-items1">
                        <div role="listitem" class="item"><a href="/category/devices"
                            class="shop-category-link">Gadget and Devices</a></div>
                        <div role="listitem" class="item"><a href="/category/appliances"
                            class="shop-category-link ">Home Appliances</a>
                        </div>
                        <div role="listitem" class="item"><a href="/category/TAV"
                            class="shop-category-link ">TV, audio, video</a></div>
                        <div role="listitem" class="item"><a href="/category/computers"
                            class="shop-category-link">Computers</a>
                        </div>
                        <div role="listitem" class="item"><a href="/category/household"
                            class="shop-category-link ">Household Goods</a></div>
                        <div role="listitem" class="item"><a href="/category/sports"
                            class="shop-category-link">Sports, Tourism</a>
                        </div>
                        <div role="listitem" class="item"><a href="/category/construction"
                            class="shop-category-link ">Construction and Renovation</a></div>
                        <div role="listitem" class="item"><a href="/category/clothes"
                            class="shop-category-link">Clothes</a>
                        </div>
                        <div role="listitem" class="item"><a href="/category/leisure"
                            class="shop-category-link ">Leisure and Books</a></div>
                        <div role="listitem" class="item"><a href="/category/furniture"
                            class="shop-category-link">Furniture</a>
                        </div>
                        </div>
                            <div role="list" class="shop-categories w-dyn-items2">
                        <div role="listitem" class="item"><a href="/category/beauty"
                            class="shop-category-link ">Beauty and Health</a></div>
                        <div role="listitem" class="item"><a href="/category/childprod"
                            class="shop-category-link">Products for children</a>
                        </div>
                        <div role="listitem" class="item"><a href="/category/pharmacy"
                            class="shop-category-link ">Pharmacy</a></div>
                        <div role="listitem" class="item"><a href="/category/autoprod"
                            class="shop-category-link">Automotive Products</a>
                        </div>
                        <div role="listitem" class="item"><a href="/category/gifts"
                            class="shop-category-link ">Gifts, Goods for Holidays</a></div>
                        <div role="listitem" class="item"><a href="/category/accessories"
                            class="shop-category-link">Accessories</a>
                        </div>
                        <div role="listitem" class="item"><a href="/category/jewelry"
                            class="shop-category-link ">Jewelry</a></div>
                        <div role="listitem" class="item"><a href="/category/petprod"
                            class="shop-category-link">Products for Pets</a>
                        </div>
                        <div role="listitem" class="item"><a href="/category/stationery"
                            class="shop-category-link {% if active == 'stationery' %} current {% endif %}">Stationery</a></div>
                        <div role="listitem" class="item"><a href="/category/shoes"
                            class="shop-category-link">Shoes</a>
                        </div>
                        </div>
                        </div>
                    </div>
                    <div class="shop-header-line">
                        <div class="shop-header-color green w-hidden-small w-hidden-tiny"></div>
                    </div>
                </div>
                <div class="full-width w-dyn-list">
                    <div role="list" class="products w-dyn-items">
                            {% for product in products %}
                                {% if product.subcategory_id == 19 %}
                            <div role="listitem" class="product-card-wrapper w-dyn-item" id="{{ product.id }}">
                                <a href="#" class="product-card w-inline-block">
                                    <div class="product-card-image-wrapper">
                                    <img src="{{ product.image }}" alt="{{ product.name }}">
                                    </div>
                                    <h6 class="product-card-heading">{{ product.name }}</h6>
                                    <div class="product-card-price">${{ product.price }} USD</div>
                                </a>
                                </div>
                                {% endif %}
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="section no-padding-vertical">
            <div class="wrapper side-paddings">
                <div data-w-id="e89551e9-b5ae-51a6-c418-02c90497790c" class="subscribe" style="opacity: 0;">
                    <div class="subscribe-info">
                        <div class="subscribe-icon"><img
                                src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c77aa_paperplane-icon-white.svg"
                                alt=""></div>
                        <h4>Subscribe to our newsletter<br>&amp; get <span class="text-green">10% discount!</span></h4>
                    </div>
                    <div class="subscribe-form-wrapper w-form">
                        <form id="wf-form-Subscribe-Form" name="wf-form-Subscribe-Form" data-name="Subscribe Form"
                            method="get" class="subscribe-form" data-wf-page-id="65815d000000cb93c2bb1071"
                            data-wf-element-id="e89551e9-b5ae-51a6-c418-02c904977917" aria-label="Subscribe Form"><input
                                type="email" class="input subscribe-input w-input" maxlength="256" name="email-2"
                                data-name="Email 2" placeholder="Enter your email address" id="email-2"
                                required=""><input type="submit" value="Subscribe" data-wait="Please wait..."
                                class="button w-button"></form>
                        <div class="form-success w-form-done" tabindex="-1" role="region"
                            aria-label="Subscribe Form success">
                            <div>Thank you! Your submission has been received!</div>
                        </div>
                        <div class="form-error w-form-fail" tabindex="-1" role="region"
                            aria-label="Subscribe Form failure">
                            <div>Oops! Something went wrong while submitting the form.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="wrapper">
                <div class="intro">
                    <div class="title">@ElasticThemes</div>
                    <h2 class="no-margin-bottom">We're on Instagram!</h2>
                </div>
                <div data-w-id="6e1d3527-5090-7380-17f7-30bf0f5a58b4" class="instagram" style="opacity: 0;"><a
                        href="https://instagram.com" target="_blank" class="instagram-link w-inline-block"><img
                            src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c7793_instagram-01.jpg"
                            alt="" class="full-width"></a><a href="https://instagram.com" target="_blank"
                        class="instagram-link w-inline-block"><img
                            src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c7792_instagram-02.jpg"
                            alt="" class="full-width"></a><a href="https://instagram.com" target="_blank"
                        class="instagram-link w-inline-block"><img
                            src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c7795_instagram-03.jpg"
                            alt="" class="full-width"></a><a href="https://instagram.com" target="_blank"
                        class="instagram-link w-inline-block"><img
                            src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c7791_instagram-04.jpg"
                            alt="" class="full-width"></a><a href="https://instagram.com" target="_blank"
                        class="instagram-link w-inline-block"><img
                            src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c7796_instagram-05.jpg"
                            alt="" class="full-width"></a><a href="https://instagram.com" target="_blank"
                        class="instagram-link w-inline-block"><img
                            src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c7794_instagram-06.jpg"
                            alt="" class="full-width"></a></div><a href="https://instagram.com" target="_blank"
                    class="button w-button">See More Photos</a>
            </div>
        </div>
        <div class="section color no-padding-vertical">
            <div class="wrapper text-white"></div>
        </div>
    </div>
</body>
</html>
{% endblock %}

{% block script %}

<script>
document.addEventListener('DOMContentLoaded', function() {
    const carousel1 = document.querySelector('.w-dyn-items1');
    const carousel2 = document.querySelector('.w-dyn-items2');

    let currentPosition = 1;

    carousel1.addEventListener('wheel', (event) => {
        event.preventDefault();

        currentPosition += (event.deltaY > 0) ? 1 : -1;

        currentPosition = Math.min(Math.max(currentPosition, 1), 10);

        carousel1.style.setProperty('--position', currentPosition);
    });

    carousel2.addEventListener('wheel', (event) => {
        event.preventDefault();

        currentPosition += (event.deltaY > 0) ? 1 : -1;

        currentPosition = Math.min(Math.max(currentPosition, 1), 10);

        carousel2.style.setProperty('--position', currentPosition);
    });
});
</script>
{% endblock %}