{% extends 'Navbar.html' %}
{% block content %}
{% load static %}
<html>

    <div class="page-wrapper">
        <div class="section no-padding-vertical">
            <div class="wrapper side-paddings">
                <div class="breadcrumbs"><a href="/" class="link-grey">Home</a><img
                        src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c77ac_arrow-right-mini-icon.svg"
                        alt="" class="breadcrumbs-arrow">
                    <div>Catalog</div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="wrapper">
                <div class="shop-header">
                    <h3 class="no-margin w-hidden-small w-hidden-tiny">Gadget and Devices</h3>
                    <a href="/catalog" class="shop-category-link {% if active == 'all' %} current {% endif %}">All Products</a>
                    <div class="shop-categories-wrapper">
                        <div class="list">
                            <div role="list" class="shop-categories w-dyn-items1">
                            {% for category in categories %}
                        <div role="listitem" class="item" id="NaMe{{category.name}}"><a href="#"
                            class="shop-category-link">{{category.name}}</a></div>
                            {% endfor %}
                        </div>
                            <div role="list" class="shop-categories w-dyn-items2">
                            {% for subcategory in sub_categories %}
                        <div role="listitem" class="item" id="{{active}}"><a href="#"
                            class="shop-category-link ">{{subcategory.name}}</a></div>
                            {% endfor %}
                        </div>
                        </div>
                    </div>
                    <div class="shop-header-line">
                        <div class="shop-header-color green w-hidden-small w-hidden-tiny"></div>
                    </div>
                </div>
                <div class="full-width w-dyn-list">
                    <div role="list" class="products w-dyn-items">
                        {% for product in products %}
                        <div role="listitem" class="product-card-wrapper w-dyn-item" id="card{{ product.id }}" onclick="cardSelector('{{ product.id }}')">
                            <a href="#" class="product-card w-inline-block">
                              <div class="product-card-image-wrapper">
                                <img src="{{ product.image }}" alt="{{ product.name }}">
                              </div>
                              <h6 class="product-card-heading" id="prod{{product.id}}">{{ product.name }}</h6>
                              <div class="product-card-price">${{ product.price }} USD</div>
                            </a>
                          </div>
                        {% endfor %}
                    </div>
                </div>
                
                    {% for product in products %}
                <div class="product-view" id="view{{ product.id }}">
                    <div class="product-info">
                        <div id="product-close-btn" class="ls-close-btn">
                            <span><ion-icon name="close-circle-outline"></ion-icon></span>
                        </div>
                        <h1 id="prod{{product.id}}">{{ product.name }}</h1>
                        <p class="text-grey">{{ product.description }}</p>
                        <div class="product-price">$&nbsp;<p id="price{{product.id}}">{{ product.price }}</p>&nbsp;USD</div>
                        <div class="full-width">
                            <form><input type="number" id="quan{{product.id}}">
                                <button href="#" type="button" class="button" onclick="addProduct('{{ product.id }}')">Add to cart</button>
                            </form>
                        </div>
                    </div>
                    <div class="product-image-wrapper"><img src='{{ product.image }}' alt=""></div>
                </div>
                    {% endfor %}

            </div>
        </div>
        <div class="section no-padding-vertical">
            <div class="wrapper side-paddings">
                <div data-w-id="e89551e9-b5ae-51a6-c418-02c90497790c" class="subscribe" style="opacity: 0;">
                    <div class="subscribe-info">
                        <div class="subscribe-icon"><img
                                src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c77aa_paperplane-icon-white.svg"
                                alt=""></div>
                        <h4>Subscribe to our newsletter<br>&amp; get <span class="text-green">10% discount!</span></h4>
                    </div>
                    <div class="subscribe-form-wrapper w-form">
                        <form id="wf-form-Subscribe-Form" name="wf-form-Subscribe-Form" data-name="Subscribe Form"
                            method="get" class="subscribe-form" data-wf-page-id="65815d000000cb93c2bb1030"
                            data-wf-element-id="e89551e9-b5ae-51a6-c418-02c904977917" aria-label="Subscribe Form"><input
                                type="email" class="input subscribe-input w-input" maxlength="256" name="email-2"
                                data-name="Email 2" placeholder="Enter your email address" id="email-2"
                                required=""><input type="submit" value="Subscribe" data-wait="Please wait..."
                                class="button w-button"></form>
                        <div class="form-success w-form-done" tabindex="-1" role="region"
                            aria-label="Subscribe Form success">
                            <div>Thank you! Your submission has been received!</div>
                        </div>
                        <div class="form-error w-form-fail" tabindex="-1" role="region"
                            aria-label="Subscribe Form failure">
                            <div>Oops! Something went wrong while submitting the form.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="wrapper">
                <div class="intro">
                    <div class="title">@ElasticThemes</div>
                    <h2 class="no-margin-bottom">We're on Instagram!</h2>
                </div>
                <div data-w-id="6e1d3527-5090-7380-17f7-30bf0f5a58b4" class="instagram" style="opacity: 0;"><a
                        href="https://instagram.com" target="_blank" class="instagram-link w-inline-block"><img
                            src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c7793_instagram-01.jpg"
                            alt="" class="full-width"></a><a href="https://instagram.com" target="_blank"
                        class="instagram-link w-inline-block"><img
                            src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c7792_instagram-02.jpg"
                            alt="" class="full-width"></a><a href="https://instagram.com" target="_blank"
                        class="instagram-link w-inline-block"><img
                            src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c7795_instagram-03.jpg"
                            alt="" class="full-width"></a><a href="https://instagram.com" target="_blank"
                        class="instagram-link w-inline-block"><img
                            src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c7791_instagram-04.jpg"
                            alt="" class="full-width"></a><a href="https://instagram.com" target="_blank"
                        class="instagram-link w-inline-block"><img
                            src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c7796_instagram-05.jpg"
                            alt="" class="full-width"></a><a href="https://instagram.com" target="_blank"
                        class="instagram-link w-inline-block"><img
                            src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c7794_instagram-06.jpg"
                            alt="" class="full-width"></a></div><a href="https://instagram.com" target="_blank"
                    class="button w-button">See More Photos</a>
            </div>
        </div>
        <div class="section color no-padding-vertical">
            <div class="wrapper text-white"></div>
        </div>
    </div>
    <div class="wrapper">
        <div class="intro">
            <div class="title">@ElasticThemes</div>
            <h2 class="no-margin-bottom">We're on Instagram!</h2>
        </div>
        <div data-w-id="6e1d3527-5090-7380-17f7-30bf0f5a58b4" class="instagram" style="opacity: 0;"><a
                href="https://instagram.com" target="_blank" class="instagram-link w-inline-block"><img
                    src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c7793_instagram-01.jpg"
                    alt="" class="full-width"></a><a href="https://instagram.com" target="_blank"
                class="instagram-link w-inline-block"><img
                    src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c7792_instagram-02.jpg"
                    alt="" class="full-width"></a><a href="https://instagram.com" target="_blank"
                class="instagram-link w-inline-block"><img
                    src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c7795_instagram-03.jpg"
                    alt="" class="full-width"></a><a href="https://instagram.com" target="_blank"
                class="instagram-link w-inline-block"><img
                    src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c7791_instagram-04.jpg"
                    alt="" class="full-width"></a><a href="https://instagram.com" target="_blank"
                class="instagram-link w-inline-block"><img
                    src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c7796_instagram-05.jpg"
                    alt="" class="full-width"></a><a href="https://instagram.com" target="_blank"
                class="instagram-link w-inline-block"><img
                    src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c7794_instagram-06.jpg"
                    alt="" class="full-width"></a></div><a href="https://instagram.com" target="_blank"
            class="button w-button">See More Photos</a>
    </div>
    <div data-w-id="e89551e9-b5ae-51a6-c418-02c90497790c" class="subscribe" style="opacity: 0;">
        <div class="subscribe-info">
            <div class="subscribe-icon"><img
                    src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c77aa_paperplane-icon-white.svg"
                    alt=""></div>
            <h4>Subscribe to our newsletter<br>&amp; get <span class="text-green">10% discount!</span></h4>
        </div>
        <div class="subscribe-form-wrapper w-form">
            <form id="wf-form-Subscribe-Form" name="wf-form-Subscribe-Form" data-name="Subscribe Form" method="get"
                class="subscribe-form" data-wf-page-id="65815d000000cb93c2bb1030"
                data-wf-element-id="e89551e9-b5ae-51a6-c418-02c904977917" aria-label="Subscribe Form"><input
                    type="email" class="input subscribe-input w-input" maxlength="256" name="email-2"
                    data-name="Email 2" placeholder="Enter your email address" id="email-2" required=""><input
                    type="submit" value="Subscribe" data-wait="Please wait..." class="button w-button"></form>
            <div class="form-success w-form-done" tabindex="-1" role="region" aria-label="Subscribe Form success">
                <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="form-error w-form-fail" tabindex="-1" role="region" aria-label="Subscribe Form failure">
                <div>Oops! Something went wrong while submitting the form.</div>
            </div>
        </div>
    </div>
    <div class="section color no-padding-vertical">
        <div class="wrapper text-white"></div>
    </div>
    {% endblock %}

    {% block script %}
    <script>
    document.getElementById('id_category').addEventListener('change', function() {
            var categoryId = this.value;
            if (categoryId) {
                fetch(`/ajax/get_subcategories/?category_id=${categoryId}`)
                    .then(response => response.json())
                    .then(data => {
                        var subcategoryContainer = document.getElementById('subcategory-container');
                        subcategoryContainer.innerHTML = data.map(subcategory =>
                            <div>${subcategory.name}</div>
                        ).join('');
                    });
            } else {
                document.getElementById('subcategory-container').innerHTML = '';
            }
        });
        
        function loadSubcategories(categoryId) {
            fetch(`/api/subcategories/?category_id=${categoryId}`)
                .then(response => response.json())
                .then(data => {
                    const subcategoryContainer = document.getElementById('subcategory-container');
                    subcategoryContainer.innerHTML = '';
                    data.forEach(sub => {
                        subcategoryContainer.innerHTML += <p>${sub.name}</p>;
                    });
                });
        }

    document.addEventListener('DOMContentLoaded', function() {
        const carousel1 = document.querySelector('.w-dyn-items1');
        const carousel2 = document.querySelector('.w-dyn-items2');
    
        let currentPosition = 1;
    
        carousel1.addEventListener('wheel', (event) => {
            event.preventDefault();
    
            currentPosition += (event.deltaY > 0) ? 1 : -1;
    
            currentPosition = Math.min(Math.max(currentPosition, 1), 10);
    
            carousel1.style.setProperty('--position', currentPosition);
        });
    
        carousel2.addEventListener('wheel', (event) => {
            event.preventDefault();
    
            currentPosition += (event.deltaY > 0) ? 1 : -1;
    
            currentPosition = Math.min(Math.max(currentPosition, 1), 10);
    
            carousel2.style.setProperty('--position', currentPosition);
        });
    });
    
    let productCard;
    let productView;
    let product;
    let productCloseBtns = document.querySelectorAll('#product-close-btn');
    let popupShadow = document.querySelector('.shadow');

    var pcart = document.querySelector('#pcart');
    var ptotal = document.querySelector('#ptotal');

    function openView(vid) {
    productView = document.getElementById('view' + vid);
    productView.classList.add('active-lss');
    };

    function cardSelector(cid) {
    console.log('Функция cardSelector выполнена для карты', cid);
    var productCardid = document.getElementById('card' + cid);

    productCardid.onclick = () => {
        openView(cid);
        popupShadow.style.opacity = "1";
        popupShadow.style.zIndex = "98";
    };
    
    };
    
    productCloseBtns.forEach(btn => {
        btn.onclick = () => {
            productView.classList.remove('active-lss');
            popupShadow.style.opacity = "0";
            popupShadow.style.zIndex = "-1001";
        };
    });

    function addProduct(pid) {
        var prodId = '#prod' + pid;
        var Productname = document.querySelector(prodId).innerHTML;
        var priceId = '#price' + pid;
        var Productprice = document.querySelector(priceId).innerHTML;
        var quanId = '#quan' + pid;
        var Productquan = document.querySelector(quanId).value;
        pcart.innerHTML += '<li>' + Productname + ' ' + Productprice + ' ' + Productquan + '</li>';

    };
    </script>
    

{% endblock %}