{% extends 'Navbar.html' %}
{% block content %}
<html data-wf-domain="proto-83d0b0.webflow.io" data-wf-page="65815d000000cb93c2bb1059"
    data-wf-site="65814db1206eb252fe3c771d" lang="en"
    class="w-mod-js w-mod-ix wf-opensans-n3-active wf-opensans-i3-active wf-opensans-n4-active wf-opensans-i4-active wf-opensans-n6-active wf-opensans-i6-active wf-opensans-n7-active wf-opensans-i7-active wf-opensans-n8-active wf-opensans-i8-active wf-varelaround-n4-active wf-active">
    </div>
    <div class="page-wrapper">
        <div class="section no-padding-vertical">
            <div class="wrapper side-paddings">
                <div class="breadcrumbs"><a href="/" class="link-grey">Home</a><img
                        src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c77ac_arrow-right-mini-icon.svg"
                        alt="" class="breadcrumbs-arrow">
                    <div>Cooperation</div>
                </div>
            </div>
        </div>
        <div class="section no-padding-top">
            <div class="wrapper side-paddings">
                <div class="delivery">
                    <div class="delivery-info w-richtext">
                        <h2>Станьте нашим партнером</h2>
                        <h5>Расширьте горизонты вашего бизнеса</h5>
                        <p>В эпоху цифровых технологий и электронной коммерции, увеличение видимости и доступности
                            вашего товара является ключевым фактором успеха. Мы специализируемся на том, чтобы помочь
                            вашему продукту занять заслуженное место на рынке.</p>
                        <h5>Наша стратегия сотрудничества основана на двух фундаментальных аспектах:</h5>
                        <h6><strong>1. Размещение Вашего Товара</strong>: Мы предлагаем привлекательную платформу для
                            представления вашего товара, делая его легкодоступным для широкой аудитории потенциальных
                            покупателей.</h6>
                        <p><strong>2. Логистика и Доставка:</strong> Мы разработали комплексный логистический план,
                            который обеспечивает быструю и эффективную доставку продукции до двери покупателя. Наша цель
                            — не просто доставить товар, но сделать этот процесс максимально удобным для каждого
                            клиента.</p>
                        <h6>С нами, вы получаете не просто сервис, а надежного партнера, готового работать на результат.
                            Мы стремимся к созданию долгосрочных отношений, основанных на взаимовыгоде и уважении.</h6>
                    </div>
                    <div class="question">
                        <h5 class="question-heading">Can't Find the Answer to&nbsp;Your Question?</h5><a
                            href="/contacts" class="button small w-button">Контакты</a>
                    </div>
                </div>
            </div>
            <div class="delivery">
                <div class="delivery-info w-richtext">
                    <h3>Присоединяйтесь к нашей команде курьеров</h3>
                    <h6>Мы приглашаем вас стать частью нашего динамично развивающегося коллектива.</h6>
                    <p>В современном мире скорость и надёжность доставки играют важнейшую роль в удовлетворении
                        потребностей клиентов. Мы стремимся предоставлять исключительный сервис доставки, который
                        начинается с нашей высококвалифицированной команды курьеров.</p>
                    <h5>Что мы предлагаем:</h5>
                    <p><strong>1. Конкурентоспособную оплату труда: </strong>Ваша тяжёлая работа и преданность
                        заслуживают справедливого вознаграждения.</p>
                    <p>&zwj;<strong>2. Гибкий график работы:</strong> Мы ценим ваше время и стремимся предложить график,
                        который будет удобен вам.</p>
                    <p><strong>3. Поддержка на каждом шагу:</strong> Вы никогда не будете одни, &nbsp;наша команда
                        всегда готова помочь и поддержать.</p>
                    <h5>Кто нам нужен:</h5>
                    <h6>Мы в поиске ответственных и энергичных людей, которые готовы присоединиться к нашей миссии
                        обеспечения непревзойденного уровня клиентского обслуживания. Если вы любите вождение, обладаете
                        отличными коммуникативными навыками и стремитесь к гибкости в работе, то вы - тот, кто нам
                        нужен.</h6>
                </div>
                <div class="question">
                    <h5 class="question-heading">Не можете найти ответы&nbsp;На ваши вопросы?</h5><a href="/contacts"
                        class="button small w-button">Контакты</a>
                </div>
                <div class="question">
                    <h5 class="question-heading">Не можете найти ответы&nbsp;На ваши вопросы?</h5><a href="/contacts"
                        class="button small w-button">Контакты</a>
                </div>
            </div>
        </div>
        <div class="section no-padding-top">
            <div class="wrapper side-paddings">
                <div data-w-id="e89551e9-b5ae-51a6-c418-02c90497790c" class="subscribe" style="opacity: 0;">
                    <div class="subscribe-info">
                        <div class="subscribe-icon"><img
                                src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c77aa_paperplane-icon-white.svg"
                                alt=""></div>
                        <h4>Subscribe to our newsletter<br>&amp; get <span class="text-green">10% discount!</span></h4>
                    </div>
                    <div class="subscribe-form-wrapper w-form">
                        <form id="wf-form-Subscribe-Form" name="wf-form-Subscribe-Form" data-name="Subscribe Form"
                            method="get" class="subscribe-form" data-wf-page-id="65815d000000cb93c2bb1059"
                            data-wf-element-id="e89551e9-b5ae-51a6-c418-02c904977917" aria-label="Subscribe Form"><input
                                type="email" class="input subscribe-input w-input" maxlength="256" name="email-2"
                                data-name="Email 2" placeholder="Enter your email address" id="email-2"
                                required=""><input type="submit" value="Subscribe" data-wait="Please wait..."
                                class="button w-button"></form>
                        <div class="form-success w-form-done" tabindex="-1" role="region"
                            aria-label="Subscribe Form success">
                            <div>Thank you! Your submission has been received!</div>
                        </div>
                        <div class="form-error w-form-fail" tabindex="-1" role="region"
                            aria-label="Subscribe Form failure">
                            <div>Oops! Something went wrong while submitting the form.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section no-padding-top">
            <div class="wrapper">
                <div class="intro">
                    <div class="title">@ElasticThemes</div>
                    <h2 class="no-margin-bottom">We're on Instagram!</h2>
                </div>
                <div data-w-id="6e1d3527-5090-7380-17f7-30bf0f5a58b4" class="instagram" style="opacity: 0;"><a
                        href="https://instagram.com" target="_blank" class="instagram-link w-inline-block"><img
                            src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c7793_instagram-01.jpg"
                            alt="" class="full-width"></a><a href="https://instagram.com" target="_blank"
                        class="instagram-link w-inline-block"><img
                            src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c7792_instagram-02.jpg"
                            alt="" class="full-width"></a><a href="https://instagram.com" target="_blank"
                        class="instagram-link w-inline-block"><img
                            src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c7795_instagram-03.jpg"
                            alt="" class="full-width"></a><a href="https://instagram.com" target="_blank"
                        class="instagram-link w-inline-block"><img
                            src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c7791_instagram-04.jpg"
                            alt="" class="full-width"></a><a href="https://instagram.com" target="_blank"
                        class="instagram-link w-inline-block"><img
                            src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c7796_instagram-05.jpg"
                            alt="" class="full-width"></a><a href="https://instagram.com" target="_blank"
                        class="instagram-link w-inline-block"><img
                            src="https://assets-global.website-files.com/65814db1206eb252fe3c771d/65814db1206eb252fe3c7794_instagram-06.jpg"
                            alt="" class="full-width"></a></div><a href="https://instagram.com" target="_blank"
                    class="button w-button">See More Photos</a>
            </div>
        </div>
        <div class="section color no-padding-vertical">
            <div class="wrapper text-white"></div>
        </div>
    </div>


</html>
{% endblock %}

{% block script %}
{% endblock %}