{% include 'navbar.html' %} 
{% load static %} 
<link rel="stylesheet" media="all" type="text/css" href="{% static 'styles/productsSite.css' %}" />
<title>Products</title> 
<main>
    <form id="addProductForm">
    <label for="productName">Название товара:</label>
    <input type="text" id="productName" name="productName" required>

    <label for="productType">Тип товара:</label>
    <input type="text" id="productType" name="productType" required>

    <label for="productImage">Изображение товара:</label>
    <input type="file" id="productImage" name="productImage" accept="image/*" required>

    <label for="productDescription">Описание товара:</label>
    <textarea id="productDescription" name="productDescription" rows="4" required></textarea>

    <button type="button" onclick="addProduct()">Добавить товар</button>
    </form>
</main>
<script src="{% static 'scripts/products.js' %}"></script>